---

layout: 'base.njk'

---

<article class="main-article">
  <div class="container container--narrow flow">
<div class="u">
   <h1 class="article-title">{{ title }}</h1>
    <figure class="main-article__figure">
  <div>   <img id="article-image" src="{{ image }}" alt="{{ imageAlt }}" loading="lazy"/></div> 
      <figcaption>{{ imageAlt}}</figcaption>
    </figure>
  </div>
  <div class="main-article_content_wrapper">
  <div class="main-article_content">
    {{ content | safe }}
  </div>
</div>
  </div>
</article>
