---

layout: 'base.njk'

---

<article class="main-article">
  <div class="container container--narrow flow">
<div class="u">
   <u> <h1 class="article-title">{{ title }}</h1></u>
    <figure class="main-article__figure">
  <div>   <img src="{{ image }}" alt="{{ imageAlt }}" loading="lazy"/></div> 
      <figcaption>{{ imageAlt}}</figcaption>
    </figure>
  </div>
    {{ content | safe }}
  </div>
</article>
