
<div class="wrapper"></div>
<footer class="site-footer">
  <!-- <div class="headerlgo">
    <h1>SSSS</h1>  
  </div> -->
    <p>© 2020 <span>PandaCodes</span>. All rights reserved.</p>
   <p><img class="social-links" src="https://img.icons8.com/ios-glyphs/30/000000/github.png" style="color: white;"/></p> 
   </footer>