<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet"> 


<header class="page-header header-div ">
 <div class="p">
   <h1>PANDABLOGS</h1>
   <nav>
    <ul role="list" class="nav-list p-nav">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/blog/">Blog</a>
      </li>
    </ul>
  </nav> 
 </div>
</header>



<!-- <nav>
  <ul role="list" class="nav-list flex-group">
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/blog/">Blog</a>
    </li>
  </ul>
</nav> -->